* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text-color);
  line-height: 1;
  background-color: var(--white-background-color);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --text-color: #3b3b3b;
  --white-color: #ffffff;
  --white-background-color: #f7f7f7;
  /* #47F5AB #62F54C #A7F547 #47F5E6 #343a40*/
  --color-background: #71ff85;
  --acctive-color: #47f570;
  --unacctive-color: #80f59b;
  --error-color: #f5322b;
  --border-color: #d8d8d8;
  --dashboard-color-background: #343a40;
  --content-dashboard-color-background: #e9ecef;

  --add-color: #28a745;
  --infor-color: #17a2b8;
  --edit-color: #f39c12;
  --delete-color: #e74c3c;
}
