@import url('../css/base.css');
@import url('../css/layout.css');
@import url('../css//spacing.css');

#app {
  font-size: 62.5%;
  height: 100%;
}

.breadcrumb {
  display: flex;
  font-size: 1.8em;
}

.breadcrumb-item {
}

.breadcrumb .breadcrumb-item {
}

.breadcrumb .breadcrumb-item a {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
}

.breadcrumb .breadcrumb-item:not(:last-child) a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item:not(:first-child) a::before {
  display: inline-block;
  content: '/';
  padding: 0 5px;
  color: var(--text-color);
}

.breadcrumb .breadcrumb-item:last-child a {
  color: var(--text-color);
}

.toggle-container {
  position: relative;
  width: 60px;
  height: 30px;
  margin-top: 5px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #66bb6a;
}

.toggle-checkbox:checked + .toggle-label::after {
  transform: translateX(30px);
}
